version: '3.8'
services:
  db:
    container_name: db
    image: postgres:13
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ./db-data:/var/lib/postgresql/data
    networks:
      - library-network
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - library-network
  library-api:
    container_name: api
    build: .
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - .:/fastapi-library
    networks:
      - library-network
  celery_worker:
    container_name: celery_worker
    build: .
    command: celery -A api.tasks.tasks worker --pool=solo --loglevel=info
    volumes:
      - .:/fastapi-library
    depends_on:
      - redis
      - library-api
    networks:
      - library-network
  flower:
    container_name: flower
    build: .
    command: celery -A api.tasks.tasks flower --port=5555
    ports:
      - 5556:5555
    depends_on:
      - library-api
      - redis
      - celery_worker
    networks:
      - library-network
    
networks:
  library-network:
    name: library-network
    driver: bridge
